.horizon-slide-box {
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.horizon-item {
  position: absolute;
  border: 1px solid black;
  text-align: center;
  margin: 0;
}
